@import "tailwindcss";
@tailwind utilities;


/* Saans Family */
@font-face {
  font-family: 'Saans';
  src: url('@/assets/fonts/SaansLight.woff2') format('woff2');
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Saans';
  src: url('@/assets/fonts/SaansRegular.woff2') format('woff2');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Saans';
  src: url('@/assets/fonts/SaansMedium.woff2') format('woff2');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Saans';
  src: url('@/assets/fonts/SaansSemiBold.woff2') format('woff2');
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

@theme {
  --color-page-bg: #efeeec;
  --color-black-bg: #111212;
  --color-light-green: #b2f6e3;
}

@layer base {
  body {
    overflow-x: hidden;
    font-family: 'Saans';
    background-color: var(--color-page-bg);
  }
}

.swiper-linear-behavior .swiper-wrapper {
    transition-timing-function: linear !important;
}